<div class="trigger">
  <ul class="list">
      <li class="item">
        {% if page.title == 'About' %}
          {% assign current = 'active' %}
        {% endif %}
        <a class="page-link {{ current }}" href="{{ site.url }}/">Home</a>
      </li>
    
    {% if site.about %}
      <li class="item">
        {% if page.title == 'About' %}
          {% assign current = 'active' %}
        {% endif %}
        <a class="page-link {{ current }}" href="{{ site.url }}/about">About</a>
      </li>
    {% endif %}
  </ul>
</div>
