h1 {
  font-size: $base-font-size * 2;
}

h2 {
  font-size: $base-font-size * 1.8;
}

h3 {
  font-size: $base-font-size * 1.6;
}

h4 {
  font-size: $base-font-size * 1.4;
}

h5 {
  font-size: $base-font-size * 1.2;
}

h6 {
  font-size: $base-font-size;
}

p {
  font-size: $base-font-size;
  font-family: $read-font-family;
  text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $head-color;
}
